<!-- web/elemets/navigation.ejs -->
<ul>
	<li><a href="/coop3000">Coop 3000<span class="subline">Eine Neosolidarische Concerngr&uuml;ndung</span></a></li>
	
	<li class="divider"><span>&nbsp;</span></li>
	
	<li><a href="/aktuelles">Aktuelles</a></li>
	<li><a href="/bildungswerke">Die Bildungswerke</a></li>
	
	<li class="divider"><span>&nbsp;</span></li>
	
	<li><a href="/fuellhorn">Das Füllhorn<span class="subline">Stufe 1 / Oktober 016</span></a></li>
	<li><a href="/suppertheorieparties">Die Suppertheorieparties<span class="subline">Stufe 2 / April-Juni 017</span></a></li>
	<li><a href="/concernopening">Der Concern wird Er&ouml;ffnet<span class="subline">Stufe 3 / Juli 017</span></a></li>
	
	<li class="divider"><span>&nbsp;</span></li>
										
	<li><a href="/registrierung">ANTEILSEIGNER*IN WERDEN</a></li>
	
	<span class="showLogin">
		<li><a href="/login">Login</a></li>
	</span>
	<span class="showLogout">
		<li><a href="/profil">Profil</a></li>
	</span>
	<li class="smallitem"><a href="/newsletter">Newsletter</a></li>
	<li class="smallitem"><a href="/impressum">Impressum</a></li>	
</ul>