<!-- web/elemets/navigation.ejs -->
<ul>
	<li><a href="/coop3000">Coop 3000<span class="subline">Eine Neosolidarische Concerngr&uuml;ndung</span></a></li>
	
	<li class="divider"><span>&nbsp;</span></li>

	<li><a href="/concernopening">Der Concern wird Er&ouml;ffnet<span class="subline">13.-16. Juli</span></a></li>
	<li><a href="/registrierung">ANTEILSEIGNER*IN WERDEN</a></li>
	<li><a href="/wasbishergeschah">WAS BISHER GESCHAH</a></li>

	<li class="divider"><span>&nbsp;</span></li>

	<li><a href="/bildungswerke">Die Bildungswerke/Archiv</a></li>

	<span class="showLogin">
		<li><a href="/login">Login</a></li>
	</span>
	<span class="showLogout">
		<li><a href="/profil">Profil</a></li>
	</span>
	<li class="smallitem"><a href="mailto:empfang@coop3000.net">Kontakt</a></li>	
	<li class="smallitem"><a href="/newsletter">Newsletter</a></li>
	<li class="smallitem"><a href="/impressum">Impressum</a></li>	
</ul>