@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-Thin-Web.eot');
	src: url('../files/fonts/GiorgioSans-Thin-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-Thin-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-Thin-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-Thin-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-ThinItalic-Web.eot');
	src: url('../files/fonts/GiorgioSans-ThinItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-ThinItalic-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-ThinItalic-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-ThinItalic-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 100;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-Extralight-Web.eot');
	src: url('../files/fonts/GiorgioSans-Extralight-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-Extralight-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-Extralight-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-Extralight-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-ExtralightItalic-Web.eot');
	src: url('../files/fonts/GiorgioSans-ExtralightItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-ExtralightItalic-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-ExtralightItalic-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-ExtralightItalic-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 200;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-Light-Web.eot');
	src: url('../files/fonts/GiorgioSans-Light-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-Light-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-Light-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-Light-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-LightItalic-Web.eot');
	src: url('../files/fonts/GiorgioSans-LightItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-LightItalic-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-LightItalic-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-LightItalic-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-Regular-Web.eot');
	src: url('../files/fonts/GiorgioSans-Regular-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-Regular-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-Regular-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-Regular-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-RegularItalic-Web.eot');
	src: url('../files/fonts/GiorgioSans-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-RegularItalic-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-RegularItalic-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-RegularItalic-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-Medium-Web.eot');
	src: url('../files/fonts/GiorgioSans-Medium-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-Medium-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-Medium-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-Medium-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-MediumItalic-Web.eot');
	src: url('../files/fonts/GiorgioSans-MediumItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-MediumItalic-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-MediumItalic-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-MediumItalic-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-Bold-Web.eot');
	src: url('../files/fonts/GiorgioSans-Bold-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-Bold-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-Bold-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-Bold-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-BoldItalic-Web.eot');
	src: url('../files/fonts/GiorgioSans-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-BoldItalic-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-BoldItalic-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-BoldItalic-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-Heavy-Web.eot');
	src: url('../files/fonts/GiorgioSans-Heavy-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-Heavy-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-Heavy-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-Heavy-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-HeavyItalic-Web.eot');
	src: url('../files/fonts/GiorgioSans-HeavyItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-HeavyItalic-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-HeavyItalic-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-HeavyItalic-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-Black-Web.eot');
	src: url('../files/fonts/GiorgioSans-Black-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-Black-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-Black-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-Black-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Giorgio Sans Web';
	src: url('../files/fonts/GiorgioSans-BlackItalic-Web.eot');
	src: url('../files/fonts/GiorgioSans-BlackItalic-Web.eot?#iefix') format('embedded-opentype'),
	url('../files/fonts/GiorgioSans-BlackItalic-Web.woff') format('woff'),
	url('../files/fonts/GiorgioSans-BlackItalic-Web.ttf') format('truetype'),
	url('../files/fonts/GiorgioSans-BlackItalic-Web.svg#Giorgio Sans Web') format('svg');
	font-weight: 800;
	font-style: italic;
	font-stretch: normal;
}


/* DEFAULTS */

* {
	font-family
  	margin: 0;
  	padding: 0;
  	color: #000000;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6,a,button,label {
	font-family: 'Giorgio Sans Web';
	text-transform: uppercase;
	letter-spacing: 5px;
}


h1,h2,h3,h4,h5,h6 {
  	font-family: 'Giorgio Sans Web';
	text-transform: uppercase;
	font-weight: 700;
}

h2 {
	font-weight: 400;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: 500;
}

a, a:hover {
    color: #000000;
    text-decoration: none;
}

p {
	margin-bottom: 20px;
}

input.form-control {
	height: 60px;
	border: 7px solid #000000;
	border-radius: 0;
}

p,
small,
p a,
small a {
	font-family: 'Minion Pro';
	font-size: 18px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0;
}

small a {
	text-decoration: underline;
}

button {
	background-color: #000000;
	border: none;
	color: #ffffff;
	font-size: 28px;
	box-shadow: 5px 4px #000000;
	padding: 10px 10px;
	border: 5px solid #000000;
}

button.buttonHover:hover {
	background-color: #ffffff;
	color: #000000;
	border: 5px solid #000000;
}


label {
	font-size: 15px;
}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #000000;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    outline: 0 none;

}

textarea, input, input[type] {   
    font-family: 'Myriad';
    font-size: 19px;
}

.container .content p a {
	text-decoration: underline !important;
}


/* LAYOUT */

#header {
	position: absolute;
	height: 105px;
	display: block;
	width: 100%;
	background: none;
	z-index: 9;
	text-align: center;
	color: #f2f2f2;
	padding: 0;
	top:0px;
	position: fixed;
}

#footer {
	position:fixed;
	height: 50px;
	display: block;
	width: 100%;
	background: none;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
	bottom:0px;
}

.subnav {
	margin: 20px 0;
}

.subnav li {
	display: inline-block;
}

.subnav a,
.subnav span {
	font-family: 'Giorgio Sans Web';
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 0 20px;
	text-transform: uppercase;
}

.subnav span {
	text-decoration: underline;
}

.speaker .name {
	display: block;
	font-weight: bold;
	font-family: 'Giorgio Sans Web';
	text-transform: uppercase;
	letter-spacing: 2px;
	
}

.divider {
	text-align: center;	
	padding: 0px;
	height: 0px;
	vertical-align: top;
	
}

.divider span {
	height: 2px;
   	width: 62px;
   	background-color: #000;
   	display: inline-block;
   	text-align: center;
   	margin: 0 0 20px 0;
}

.scroll {
	
	margin-left: -10px;
	margin-top: -70px;
	color: #fff !important;
	font-weight: 300;
	text-align: center;
	display: block;
	width: 30px;
	height: 30px;
}

.scroll1 {
	position: absolute;
	top: 100%;
	left: 50%;
}

.scroll2 {
	position: absolute;
	top: 200%;
	left: 50%;
}

.scroll span {
	text-align: center;
	color: #ffffff;
	font-size: 25px;
}

/* HEADER */

.header-logo {
	display: inline-block;
	height: 105px;
	width: auto;
}

#nav-icon {
	z-index: 10000;
	width: 35px;
  	height: 35px;
  	position: fixed;
  	top: 40px;
	left: 40px;
	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .5s ease-in-out;
  	-moz-transition: .5s ease-in-out;
  	-o-transition: .5s ease-in-out;
  	transition: .5s ease-in-out;
  	cursor: pointer;
}

#nav-icon span{
  	display: block;
  	position: absolute;
  	height: 5px;
  	width: 100%;
  	background: #000000;
  	border-radius: 9px;
  	opacity: 1;
  	left: 0;
  	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .25s ease-in-out;
  	-moz-transition: .25s ease-in-out;
  	-o-transition: .25s ease-in-out;
  	transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
	top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
	top: 10px;
}

#nav-icon span:nth-child(4) {
	top: 20px;
}

#nav-icon.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#main-nav {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #3a54cc;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;	
}

#main-nav .content,
section .content {
	margin-top: 150px;
	text-align: center;
}

#home #main-nav .content {
	margin-top: 50px;
}


#main-nav ul {
	list-style: none;
}

#main-nav li {
	font-size: 28px;
	padding: 7px;
	font-weight: 500;
}

#main-nav a, #main-nav a:hover {
	color: #ffffff;
}

#main-nav li.divider {
	text-align: center;	
	padding: 0px;
	height: 0px;
	vertical-align: top;
	margin: 10px 0;
}

#main-nav li.divider span {
	height: 2px;
   	width: 62px;
   	background-color: #f6a800;
   	display: inline-block;
   	text-align: center;	
}

#main-nav .subline {
	display: block;
	color: #fff;
	font-size: 0.5em;
	font-weight: 400;
	letter-spacing: 3px;
}

#main-nav .smallitem {
	height: 20px;
	font-size: 1em;
	font-weight: 400;
}



/* FOOTER */

#footer {
	height: 75px;
}

#footer a {
	font-size: 15px;
	font-weight: 500;
}


/* SECTIONS */

section {
	height: 100%;
}

section .container-fluid {
	height: 100%;
    background-repeat: no-repeat;
	background-position: 50% 0px;
	padding-bottom: 50px;
}

#section2 .container-fluid {
	padding-bottom: 0px;
}

#section0 {
    background-color: #FF0035;
}

#section0 .container-fluid {
	background-image: url('../files/images/COO_COLLAGEN_C_05_B_160907.jpg');
    background-size: auto 90% ;
}

#section1 {
    background-color: #07A7FF;
}

#section1 .container-fluid {
	background-image: url('../files/images/COO_COLLAGEN_STP_170203_01.jpg');
}

#section1 .force-to-bottom {
  bottom: 30%;
}

#section1 .container > .container {
	display: table-cell;
    float: none;
    vertical-align: bottom;
}

#section2 {
    background: none;
}

#section2 .container-fluid {
	background-image: none;
}

#section2 .content p {
	font-size: 26px;
}

#section2 .col img ~ img {
	max-height: 250px !important;
}

#section2 h2 {
	color: #000000;
	letter-spacing: 3px;
}

div.message {
	font-size: 28px;
	color: red;
}

/* HOME */
#home h2 {
	color: #ffffff;
}

#home #section2 .container-fluid .row {
	height: 100%;
}

#home #section2 .container-fluid {
	background-color: #6DFE95;
}

#home #section2 .col.col-lg-4 {
	height: 100%;
	padding-top: 10%;
}

#home #section2 .col {
	background-color: #6DFE95;
}

#home #section2 .col  ~ .col {
	background-color: #07A7FF;
}

#home #section2 .col ~ .col ~ .col {
	background-color: #FFFF65;
}

#home #section2 img {
	max-width: 100%;
	max-height: 50px;
	display: inline-block;
}


#home #section1 button {
	background-color: #3600b7;
	box-shadow: 5px 4px #3600b7;
	border: 5px solid #3600b7;
}

#home #section1 button:hover {
	background-color: #ffffff;
	border-color: #3600b7;
	color: #3600b7; 
}


#home #section2 .col.col-lg-4 p,
#home #section2 .visible-xs-block p
 {
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 3px;
	font-family: 'Giorgio Sans Web';
}

#home #header {
	position: static;
	display: block;
	width: 100%;
	z-index: 9000;
	text-align: center;
	padding: 0;
	top:0px;
}

#home .header-part {
	position: relative;
	height: auto !important;
	display: block;
	z-index: 9999;
}

#home #section2 .row:nth-of-type(2) {
	margin-top: -105px;
	display: block;
	z-index: 5000 !important;
}

#home #header img {
	max-height: none;
}

#home #section2 .visible-xs-block .content {
	margin-top: 0px;
	padding-top: 20px;
}

#home #section2 .content.fuellhorn {
	background-color: #6DFE95;
	
}

#home #section2 .content.suppertheorieparties {
	background-color: #07A7FF;
}

#home #section2 .content.concernopening {
	background-color: #FFFF65;
}

.typoImage {
	margin-bottom: 60px;
}



/* COOP 3000 */

#coop3000 h1 .subline {
	font-size: 0.5em;
	letter-spacing: 2px;
	line-height: 20px !important;
}

h1 .subline {
	font-size: 0.5em;
	letter-spacing: 2px;
	line-height: 20px !important;
}

#coop3000 #section0 .container-fluid {
	background-image: none;
}

#coop3000 #section0 {
	background-color: #FFFF65;
}

/* Live */

#live #section0 .container-fluid {
	background-image: none;
}

#live #section0 {
	background-color: #f0ffff;
}

/* DAS FUELLHORN */
#fuellhorn h1 .subline {
	font-size: 0.5em;
	letter-spacing: 2px;
	line-height: 20px !important;
	display: block;
}

#fuellhorn img {
	max-width: 100%;
	margin-bottom: 40px;
}


#fuellhorn #section0 .container-fluid {
	background-image: none;
}

#fuellhorn #section0,
#aktuelles #section0 {
	background-color: #6DFF96;
}

/* suppertheorieparties */
#suppertheorieparties h1 .subline {
	font-size: 0.5em;
	letter-spacing: 2px;
	line-height: 20px !important;
	display: block;
}

#suppertheorieparties img {
	max-width: 100%;
	margin-bottom: 40px;
}

#suppertheorieparties #section0 .container-fluid {
	background-image: none;
}

#suppertheorieparties #section0 {
	background-color: #07A7FF;
}

/* concernopening */
#concernopening h1 .subline {
	font-size: 0.5em;
	letter-spacing: 2px;
	line-height: 20px !important;
	display: block;
}

#concernopening img {
	max-width: 100%;
	margin-bottom: 40px;
}

#concernopening #section0 .container-fluid {
	background-image: none;
}

#concernopening #section0 {
	background-color: #FFFF65;
}




/* Aktuelles */

#aktuelles #section0 .container-fluid {
	background-image: none;
}

#aktuelles #section0 {
	background-color: #FFFF65;
}

/* DIE BILDUNGSWERKE */

#bildungswerke #section0 .container-fluid {
	background-image: none;
}

#bildungswerke #section0 {
	background-color: #6ef2d5;
}


/* REGISTRIERUNG */

#registrierung #section0 .container-fluid {
	background-image: none;
	
    background-position: 30% 0px;
}

#registrierung #section0 {
	background-color: #FFFF65;
}

/* Profil */

#profil #section0 .container-fluid {
	background-image: none;
	
    background-position: 30% 0px;
}

#profil #section0 {
	background-color: #FFFF65;
}

#profil form {
	width: 60%;
	display: inline-block;
}

#profil legend {
	text-align: left;
	width: auto;
	border-bottom: 1px solid #000000;
	font-size: 1em;
	font-weight: bold;
}

#profil .form-group label:first-of-type  {
	text-align: left;
	float: left;
	width: auto;
	font-family: "Myriad";
	font-weight: normal;
	text-transform: none;
	letter-spacing: inherit;	
}

.clearer { 
	display: block;
	line-height: 0px;
	height: 1px;
	clear: both; }

.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 0px auto 0px auto;
  background: #000000;
	float: right;
}

.squaredTwo label {
  width: 20px !important;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
	background: #ffffff;
}
.squaredTwo label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #000000;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredTwo label:hover::after {
  opacity: 0.3;
}
.squaredTwo input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}



/* NEWSLETTER */

#newsletter #section0 .container-fluid {
	background-image: none;
}

#newsletter #section0 {
	background-color: #FFFF65;
}

/* 404 */

#error #section0 .container-fluid {
	background-image: url('../files/images/COO_404.jpg');
	background-size: 100% auto;
    background-position: 40% 150px;
}

#error #section0 {
	background-color: #FFFFFF;
}

/* LOGIN */

#login #section0 .container-fluid {
	background-image: url('../files/images/COO_COLLAGEN_SOV_170203.png');
	
    background-position: 0px 0px;
}

#login #section0 {
	background-color: #FFFF65;
}

/* IMPRESSUM */

#impressum #section0 .container-fluid {
	background-image: none;
}

#impressum #section0 {
	background-color: #FFFF65;
}

#impressum p a:hover {
	text-decoration: underline;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
	section .container-fluid {
	    background-size: auto 100% ;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	section .container-fluid {
	    background-size: auto 100%;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	section .container-fluid {
	    background-size: 100% auto;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	section .container-fluid {
	    background-size: 100% auto;
	    background-position: 50% 0px;
	}
	
	.header-logo {
	    height: 50px;
	}
	
	#header {
		height: 50px !important;
	}
	
	#nav-icon {
		width: 25px;
	  	height: 25px;
	  	top: 20px;
		left: 20px;
	}
	
	#nav-icon span{
	  	height: 3px;
	}
	
	#nav-icon span:nth-child(1) {
		top: 0px;
	}
	
	#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
		top: 7px;
	}
	
	#nav-icon span:nth-child(4) {
		top: 13px;
	}
	
	#main-nav .content,
	section .content {
		margin-top: 75px;
		text-align: center;
	}
		
	#main-nav .content {
		margin-top: 75px;
	}
	
	#main-nav li {
		font-size: 20px;
		padding: 4px;
	}
	
	
	p,
	small,
	p a,
	small a {
		font-size: 18px;
	}
	
	small,
	small a {
		font-size: 12px;
	}

	button {
		font-size: 20px;
		padding: 5px 5px;
		border: 3px solid #000000;
	}
	
	button.buttonHover:hover {
		border: 3px solid #000000;
	}
	
	label {
		font-size: 12px;
	}
	
	textarea, input, input[type] {   
	    font-size: 12px;
	}
	
	input.form-control {
		height: 40px;
	}
	
	.form-group,
	button {
		margin-bottom: 10px;
	}
	
	.force-to-bottom,
	#section1 .force-to-bottom {
		margin: 0;
		bottom:auto;
	}
	
	#section1 .force-to-bottom {
		margin-top: 300px;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	section .container-fluid {
	    background-size: 100% auto;
	    
	}
	
	.force-to-bottom {
	  position: relative;
	  bottom: 0;
	  width: 100%;
	}
	
	#home #section0 .container-fluid,
	#home #section1 .container-fluid {
	    background-size: 100% auto;
	    background-position: 50% 100px;
	}

	#home #section0 .container-fluid {
	    background-size: 140% auto;
	    background-position: 40% 100px;
	}
	
	#home #main-nav .content {
		margin-top: 20px !important;
	}
	
	#main-nav .content {
		margin-top: 70px !important;
	}
	
	#home #section2 .row:nth-of-type(2) {
		margin-top: -50px;
	}
	
	#home #section2 img {
	    max-height: 150px;
	}
	
	#home #section2 .visible-xs-block .content {
		padding-bottom: 20px;
	}
	
	#home .typoImage {
		margin-bottom: 20px;
		max-height: 50px !important;
	}
	
	#home #section2 .container-fluid .row {
		height: auto !important;
		min-height: 100% !important;
	}
	
	#home #section2 .container-fluid {
		background-color: #6DFE95;
	}
}

