<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <title>Coop 3000</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/public/css/jquery.fullPage.css" />
		<link rel="stylesheet" href="/public/css/custom.css">
	
		<script type="text/javascript" src="/public/js/jquery-3.1.0.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	
		<script type="text/javascript" src="/public/js/scrolloverflow.js"></script>
	
		<script type="text/javascript" src="/public/js/jquery.fullPage.min.js"></script>

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-84474181-1', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
		<script>
			$(function() {
				var isLoggedIn = ('<%=isLoggedIn%>' === 'true');
				if( isLoggedIn ) {
					$('.showLogout').show();
					$('.showLogin').hide();
				} else {
					$('.showLogout').hide();
					$('.showLogin').show();
				}
			});
		</script>
	</head>
	<body id="concernopening">
		
		<div id="nav-icon">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		
		<nav id="main-nav">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div id="header">
							<a href="/">
								<img src="/public/files/images/COO_MENU_Logo.jpg" class="header-logo" title="Logo Coop3000" />
							</a>								
						</div>
						<div class="content">
							<nav>
								<% include ../elements/navigation %>
							</nav>
						</div>						
					</div>
				</div>					
			</div>
		</nav>
		
		<div id="fullpage">
			<section class="section" id="section0">
				<div class="container-fluid">
					<div class="row">
						<div>
							<div id="header">
								<a href="/">
									<img src="/public/files/images/COO_Bildungswerke_Logo.png" class="header-logo" title="Logo Coop3000" />
								</a>
							</div>
							
							<div class="container">
								<div class="row">
									<div class="col-lg-8 col-lg-offset-2">
										<div class="content">
											<h1>
												COOP 3000 – DIE HAUPTVERSAMMLUNG!
												<span class="subline">
													4 neosolidarische Tage mit Vorträgen, Workshops, Filmen, Kochen & Party. Frei & für Alle!
												</span>
											</h1>

											<p>
												<strong>
													Wann?
												</strong>
												13.-16. Juli 2017<br>
												<strong>
													Wo?
												</strong>
												Concerncentrale: Rottstraße 5, 44789 Bochum. Sowie diverse Orte im Areal rundum.<br>
											</p>

											<p>
												Es ist soweit: Das Ruhrgebiet bekommt einen neuen Concern! Und das Gute ist: Er gehört allen, die dabei sind!
											</p>

											<p>
												Hunderte Menschen aus dem Ruhrgebiet haben in den vergangenen Monaten gemeinsam COOP 3000 vorbereitet. In einem spielerischen Modell erkunden nun die ANTEILSEIGNER*INNEN und CONSULTANTS, Künstler*innen & Wissenschaftler*innen, lokale Solidaritäts-Expert*innen & Besucher*innen an 4 Tagen Ideen & Praktiken für neue Formen des Zusammenlebens: Was kommt nach dem Geld? Wie wär‘s, wenn Du einfach tust, was du willst? Wie bringen wir gemeinsam neue Ideen in die Welt?
											</p>

											<h2>
												DIE TAGESORDNUNGEN
											</h2>
											<h2>
												Donnerstag, 13. Juli
											</h2>
											<p>
												15.00-16.30<br>
												#Bildungsurlaub / Halle 2<br>
												Film: Tomorrow is always too long (Phil Collins, GB 2014, 82 Min.)<br>
												<br>
												16.30-17.30<br>
												#Traineeprogramm / Halle 1<br>
												Workshop: Mehr Jammern weniger meckern<br>
												Klapdor + Klapdor<br>
												<br>
												18.00-20.00<br>
												#Research & Development / Halle 1<br>
												Dirk Messner: MIT SHERPAS SPRECHEN & CHINESISCHE STÄDTE PLANEN.<br>
												Wie lassen sich Erkenntnisse der Kooperationsforschung auf den ganzen Planeten übertragen?<br>
												<br>
												20.00<br>
												#Meeting Consultants / Ort bitte am COUNTER erfragen<br>
												#Naturaldividende herstellen & Ausschüttung (gemeinsames Kochen & Essen)<br>
												<br>
												21.00 #Der Concern lauscht / Halle 1<br>
												Pele Caster: THEATER DES ABSURDEN. Das Indiepoprock-Kombinat aus Dortmund, dessen Frontman bereits fürs FÜLLHORN von COOP 3000 grandiose Ballmusik arrangierte, stellt sein brandneues Album vor.<br>
												<br>
												durchgehend:<br>
												# CONCERNARCHIV in Halle 5 (Dokuvideos & Audiomitschnitte)<br>
												# Künstlerfilme von Nùria Güell & James Leadbitter / the vacuum cleaner<br>
											</p>

											<h2>
												Freitag, 14. Juli
											</h2>
											<p>
												15-17.00<br>
												#Bildungsurlaub / Halle 2<br>
												Film: Raising Compassion (Tania Singer & Olafur Eliasson D 2011, 38 Min.)<br>
												<br>
												17-19.30<br>
												#Research & Development / Halle 1<br>
												Workshop: Madlove - A Designer Asylum. A safe place to ,go mad‘<br>
												the vacuum cleaner aka James Leadbitter (GB)<br>
												In englischer Sprache mit Übersetzung. Anmeldung unter empfang@coop3000.net<br>
												<br>
												18-20.00<br>
												#Meeting Consultants / Ort bitte am COUNTER erfragen<br>
												#Naturaldividende herstellen & Ausschüttung. Gemeinsames Kochen & Essen mit Senior*innen vom St. Marienstift in der Humboldtstraße<br>
												<br>
												20.00<br>
												#Research & Development / Flüchtlingsunterkunft in der Humboldtstraße<br>
												DAS RECHT AUF HOFFNUNG & DIE VERRÜCKTLIEBE<br>
												Der Künstleraktivist the vacuum cleaner aka James Leadbitter aus London präsentiert & diskutiert seine provokanten Arbeitstrategien. In englischer Sprache mit Übersetzung.<br>
												<br>
												21.30<br>
												# Bildungsurlaub / Altenheim St. Marienstift, Humboldtstraße 48<br>
												Film: Das Gegenteil von Grau (Matthias Coers, D 2017, 93 Min.)<br>
												anschließend Gespräch mit Dennis und Tim vom Filmteam Recht auf Stadt Ruhr<br>
												<br>
												durchgehend:<br>
												# CONCERNARCHIV in Halle 5 (Dokuvideos & Audiomitschnitte)<br>
												# Künstlerfilme von Nùria Güell & James Leadbitter / the vacuum cleaner<br>
											</p>

											<h2>
												Samstag, 15. Juli
											</h2>
											<p>
												14.30<br>
												#Research & Development / Halle 1<br>
												Wie ihr‘s wollt: Sexarbeit & Solidarität<br>
												Gespräch & Workshop mit Giovanna Gilges von Madonna e.V. und Melanie von voice4sexworker<br>
												<br>
												17.00<br>
												#Research & Development / Halle 1<br>
												Friederike Habermann: Es gab schon Gemeinschaften vorm Tauschprinzip!<br>
												Wie wärs, wenn alle nur täten, was sie wirklich wollen? Ecommony & Globale Bewegungen.<br>
												<br>
												18-20.00<br>
												#Meeting Consultants / Ort bitte am COUNTER erfragen<br>
												#Naturaldividende herstellen mit Ausschüttung (gemeinsames Kochen & Essen)<br>
												<br>
												20.00<br>
												#Research & Development / Halle 1<br>
												Anna Echterhölter: Von sozialistischen Timebanks zu biometrischen Bezahlsystemen in Flüchtlingslagern. Welche politischen Fantasien in Geldern stecken.<br>
												<br>
												anschließend: ÜBERGABE-RITUAL! Der CONCERN wird vergesellschaftet.<br>
												<br>
												ab 22.00 bis Open End<br>
												#Der Concern feiert! / ZAK – Zukunftsakademie NRW, Humboldtstraße 40<br>
												DJ Guy Dermosessian, Kalakuta Records<br>
												<br>
												durchgehend:<br>
												# CONCERNARCHIV in Halle 5 (Dokuvideos & Audiomitschnitte)<br>
												# Künstlerfilme von Nùria Güell & James Leadbitter / the vacuum cleaner<br>
											</p>

											<h2>
												Sonntag, 16. Juli
											</h2>
											<p>
												11-14.00<br>
												# Sonntagsbrunch mit Waffeln im INCUBATOR<br>
												#Bildungsurlaub / Halle 2<br>
												Filme: Tomorrow is always too long (Phil Collins, GB 2014, 82 Min.)<br>
												<br>
												Die Effekten des Concerns werden übereignet.<br>
												<br>
												durchgehend:<br>
												# CONCERNARCHIV in Halle 5 (Dokuvideos & Audiomitschnitte)<br>
												# Künstlerfilme von Nùria Güell & James Leadbitter / the vacuum cleaner<br>
											</p>

											<h2>
												TRAINEE-PROGRAMM
											</h2>
											<p>
												<strong>
													Mehr Jammern weniger meckern<br>
												</strong>
												Workshop mit Klapdor + Klapdor<br>
												<br>
												Da bin ich, oioi, bejammernswert / Der rau das Schreckliche schrecklich sagt. /<br>
												Aus: Die Perser, Aischylos, 9500 H.E.<br>
												<br>
												Schon die alten Griechen wussten: Jammern ist gesund! Im Ruhrgebiet ein paar tausend Jahre später wird zwar immer noch viel gemeckert, aber Jammern ist weitläufig verpönt. Warum? Vermutlich weil es einfacher ist, über Chef, Politik und Staat zu meckern als die eigenen emotionalen Schwierigkeiten zuzugeben. Das muss aufhören!<br>
												Deswegen bieten wir den ultimativen Jammer-Workshop: Zur Stärkung des solidarischen Menschen klagt Katharina Klapdor für die reinigenden und freisetzenden Funktionen des Jammerns in Gemeinschaften. Dann treffen antike Klagelaute zeitgenössische Beleidigungen und werden unter Anleitung der Chorleiterin Anna-Lena Klapdor chorisch eingeübt, denn: Gründe zu jammern gibt es viele, und gemeinsam Jammern macht immer noch am meisten Spaß!<br>
												<br>
												Ein Unglück dem Geschlecht und der Erde / Ein Übles bin ich geworden. / Eine Gabe, von Übeln den Üblen.<br>
												Lasst ertönen die Weise, die klagende, den misstönenden Ruf. / Es schreit es schreit mir von Leiden von innen das Herz. / Geschlagen sind wir, so geht das Geschick über die Zeit. / Geschlagen sind wir, das ist deutlich. / Du siehst den Rest, das Übriggebliebene hier. / Ich seh, ich seh. / Wie wenig doch von vielen.<br>
												Nackt bin ich von Begleitern. / Immer und immer, Bejammerns wert. / Schreie nun entgegentönend mir!<br>
												Schrei auf mit gleichem Takt jetzt! / Richte dich auf mit den Klagen! / Schreie scharf! / Macht feucht die Augen! / Mit Jammer geh! / Jammert! / Geht leise!<br>
												<br>
												Donnerstag 13. Juli, 16.30-17.30 Uhr, Rottstraße 5, #Traineeprogramm / Halle 1<br>
											</p>

											<p>
												<strong>
													Madlove – A ,Designer Asylum‘. A safe place to ,go mad‘ (dt./engl.)<br>
												</strong>
												Workshop mit dem britischen Künstler und Mental Health Aktivisten the vacuum cleaner aka James Leadbitter. „In welcher Psychiatrie möchtest Du leben?“ Dieser Frage geht the vacuum cleaner für COOP 3000 spielerisch in seinem Workshop Madlove nach, um gemeinsam über diesen Ort, an dem Gesellschaft als tatsächlich realisierte Utopie produziert wird, neu nachzudenken. Madlove ist ein mehrjähriges Projekt des vacuum cleaners, um die „verrückteste bescheuerteste Anstalt zu bauen, von der wir uns zu träumen trauen.“<br>
												<br>
												Der Workshop lädt dazu ein, einen „geschützten Raum zu imaginieren, um verrückt zu werden“, die Psychiatrie neu zu entwerfen und dadurch übliche soziale und medizinische Auffassungen von psychischer Gesundheit über positiv spielerische Prozesse zu hinterfragen. James geht davon aus, dass psychisch kranke Menschen mehr „mad love“ brauchen: Sichere, liebevolle Oasen, um Raum für ihre „madness“ zu haben. Der Workshop richtet sich an alle Interessierten mit oder ohne eigene Erfahrungen mit Psychiatrien, Künstler*innen & Designer*innen, Angehörige & therapeutisch Arbeitende. <a href="http://www.madlove.org.uk<" target="_blank">www.madlove.org.uk</a><br>
												<br>
												Die Teilnehmer*innen sind eingeladen, ihre Ideen auszutauschen, zu plaudern, zu diskutieren, zu texten, zu malen, zu bauen, um gemeinsam eine ideale Psychiatrie für alle zu imaginieren.<br>
												<br>
												„The aim is to build the most crazy, bonkers, mental asylum we dare dream of: a desirable and playful space to ‘go mad’, countering the popular myth that mental illness is dangerous and scary. Together we are attempting to create a unique space where mutual care blossoms, stigma and discrimination are actively challenged, divisions understood, and madness can be experienced in a less painful way. This temporary structure will be a reflexive and responsive space for exploring and redesigning madness.“  the vacuum cleaner<br>
												<br>
												Freitag 14. Juli, 17-19.30 Uhr, Rottstraße 5, #Research & Development / Halle 1<br>
												Workshop in englischer Sprache mit deutscher Übersetzung. Teilnahme frei. Anmeldung unter: empfang@coop3000.net oder 0231 - 586 975 59 (beschränkte Teilnehmeranzahl)<br>
												<br>
											</p>

											<p>
												<strong>
													Wie ihr‘s wollt: Sexarbeit & Solidarität<br>
												</strong>
												Gespräch & Workshop mit Giovanna Gilges von Madonna e.V. und Melanie von voice4sexworker<br>
												<br>
												Im Rottstraßenareal finden sich heute nur noch Überreste und leere Läden des Rotlichtviertels, das jetzt vor allem rund um die Gußstahlstraße und Im Winkel stattfindet. Im Volksmund Eierberg, Gurke, Riemenschleifer oder Riemenwalzwerk genannt. Traditionell florierte die Sexarbeit neben den Industriestandorten. Der Märkische Sprecher berichtete 1912 über die Pläne der Stadt, einen „geregelten Bordellbetrieb in unmittelbarer Nähe der Innenstadt“ an der damaligen Maarbrücker Straße zuzulassen. Am 1. Juli 2017 hingegen trat ein neues „Prostituiertenschutzgesetz“ weitgehend unbemerkt von der Öffentlichkeit in Kraft. Dies sollte zwar zu besseren und geschützten Arbeitsbedingungen von Prostituierten und Sexarbeiter*innen führen. Doch tut es das? Unweit unserer CONCERNCENTRALE hat Madonna e.V. seinen Sitz, Treffpunkt und Beratung für Sexarbeiterinnen, vor über 25 Jahren von Prostituierten und ihren Unterstützer*innen gegründet. Die Leute von und rund um Madonna e.V. kritisieren ebenso wie viele andere Verbände, dass sich die Auflagen für Prostituierte und Sexarbeiter*innen verschärfen. Die Registrierungspflicht für Prostituierte war in Deutschland nach den Erlassen der Nationalsozialist*innen 1948 abgeschafft worden, jetzt ist sie wieder eingeführt.<br>
												<br>
												Welche Auswirkungen hat dieses Gesetz für die davon Betroffenen? Was bedeutet es, wenn die Ämter ein Register führen, in dem alle Sexarbeiter*innen verzeichnet sind? Wenn die Polizei das Recht hat, in die Privatsphäre einzudringen, um Behauptungen zu überprüfen, dass man/frau der Sexarbeit nachginge? Wie kann Solidarität mit Sexarbeiter*innen aussehen und sichtbar werden, angesichts der Vielfalt dieses gesellschaftlichen Felds? Wir freuen uns, gemeinsam mit Giovanna Gilges (Madonna e.V.) & Melanie, ehemalige Sexarbeiterin, die sich seit einigen Jahren für die Rechte der Sexarbeiter*innen einsetzt, diese und weitere Fragen zu erörtern und zu diskutieren.<br>
												<br>
												Samstag 15. Juli, 14.30 Uhr, Rottstraße 5, #Research & Development / Halle 1<br>
											</p>

											<p>
												<strong>
													LABCITY (fortlaufend)<br>
												</strong>
												Das Projekt labcity steht in der Tradition von „Stadt als Campus" und hat zum Ziel, lokale und regionale Akteure in temporären und langfristigen "Stadtlaboren" über Aktivitäten zu vernetzen. In botopia findet das Projekt momentan eine erste Stufe der Realisierung. Im Rahmen des Projektes „Bochumer Karte" könnte eine weitere Stufe erreicht werden. Um eine Stadtentwicklung auf Grundlage der jeweiligen Bedürfnisse der Bewohner zu ermöglichen gilt es die geeigneten Kommunikationswerkzeuge für P2P-Organisation zu entwickeln. Hierzu wird im Zeitraum der Veranstaltung COOP 3000 eine mobile Faltwand aufgestellt, auf der die Nutzer Bilder,Texte, Karteninformationen und  Veranstaltungsplanungen erzeugen und in Form eines analogen Wikis in Beziehung setzen können. Die Daten sollen in der digitalen Variante des Wikis archiviert und durch wiederkehrende Veranstaltungen an unterschiedlichen Orten erweitert werden.<br>
												<br>
												Ein Projekt von Kai Ruttman & Philipp Unger für <a href="http://www.botopia.org<" target="_blank">botopia.org</a><br>
											</p>

											<h2>
												MITWIRKENDE
											</h2>
											<p>
												* Pele Caster, Bandprojekt und „Indie-Pop-Rock“-Kombinat aus befreundeten Musiker*innen rund um den Frontmann Stefan „Pele“ Götzer. Seit 2010 touren sie rastlos in unterschiedlichsten Besetzungen und Instrumentierungen durch die Lande.<br>
												<br>
												* Guy Dermosessian, Kalakuta Soul Records / Bochum. Seit 2010 reist Guy Dermosessian mit seinem Label Kalakuta Soul Records durch die Clublandschaft Europas und spielt sorgfältig ausgesuchte Schallplatten aus allen Ecken der Welt. In seinen langen Sets trifft türkischer Funk auf nigerianischen Boogie, Musica Popular Brasileira auf kenyanische Soukous und kubanische Guaracha auf kapverdische Coladeras.<br>
												<br>
												* Anna Echterhölter, Kulturwissenschaftlerin und Professorin an der Humboldt Universität zu Berlin, Mitbegründerin von „ilinx – Berliner Beiträge zur Kulturwissenschaft“. Forscht zu Theorien des sozialen Raums und der Entstehung von Normen, sowie zu historischen & künftigen Formen des Gelds. Von Coupons zu Kreditsystemen in Flüchtlingslagern.<br>
												<br>
												* Giovanna Gilges (Vorstand, Madonna e.V.) und Melanie (voice4sexworker). Giovanna ist Kulturpädagogin und Genderwissenschaftlerin, lehrt an der RUB. Melanie ist erfahrene ehemalige Sexarbeiterin und setzt sich seit einigen Jahren für die Rechte der Sexarbeiter*innen ein.<br>
												<br>
												* Núria Güell, Künstlerin aus Barcelona, die sich in ihren weltweiten Projekten damit beschäftigt, wie das, woran wir uns gewöhnt haben, auf subversiv wirksame Weise wieder de-normalisiert werden kann. In ihren Arbeiten trifft Institutionskritik auf eine syrische Protestnote gegen Solidaritätstourismus, führen minderjährige Sexarbeiterinnen Besucher*innen durch die das Museo de Antioquia in Medellin.<br>
												<br>
												* Friederike Habermann, Volkswirtin & Historikerin, die Formen der solidarischen Ökonomie und der Commons als alternative Projekte zur bestehenden Wirtschaftsform untersucht und praktiziert. Seit Anfang der 1980er Jahre in sozialen Bewegungen aktiv, ab Mitte der 90er Arbeit u.a. mit den Zapatistas an der globalen Vernetzung von Basisbewegungen, „Peoples Global Action (PGA)“. Weitere Stationen Seattle, Genua, Hamburg... Dabei hat sie u.a. die Vision der „Ecommony“ entwickelt. Ihr Fazit: „Was möglich ist, hängt in erster Linie davon ab, was Menschen glauben, dass möglich sei.“<br>
												<br>
												* James Leadbitter aka the vacuum cleaner, „neurodiverser/mad-pride Künstler“ aus London, der beschwingt und aus eigener Betroffenheit Fragen von Mental Health thematisiert und fröhlich in Szene setzt.<br>
												<br>
												* Anna-Lena Klapdor ist Regisseurin und die eine Hälfte von Klapdor + Klapdor. Sie forscht theoretisch und praktisch an chorischen Theaterformen und ist darüber hinaus als Performancekünstlerin aktiv.<br>
												<br>
												* Katharina Klapdor ist Kulturanthropologin und die andere Hälfte von Klapdor + Klapdor, unabhängiges Büro für künstlerische Anliegen und Produktion. Sie arbeitet kuratorisch und dramaturgisch an der Schnittstelle von Kunst und Wissenschaft.<br>
												<br>
												* Dirk Messner, Kooperationsforscher und Direktor des Deutschen Instituts für Entwicklungspolitik, Bonn. Professor für Politikwissenschaft an der Universität Duisburg-Essen und seit 2013 Vorsitzender des Wissenschaftlichen Beirats der Bundesregierung Globale Umweltveränderungen (WBGU). Seit 2011 Co-Direktor des Käte-Hamburger-Kolleg/Centre for Global Cooperation Research. Gemeinsam mit Gesine Schwan Vorsitzender der Sustainable Development Solutions Network Germany. Berater von Regierungen und Städten von Bonn bis China zu Fragen der Kooperation und was Menschen zusammenhält.<br>
												<br>
												* Dennis und Tim vom Recht auf Stadt Ruhr Filmteam, die in dem Film „Das Gegenteil von Grau“ das neue Gesicht des Ruhrgebiets und Initiativen portraitieren, welche mehr Leben und Farbe in die Städte bringen wollen. Und zeigen, wie zwischen Dortmund und Duisburg in Hinterhöfen, auf Brachflächen und stillgelegten Lagerhallen Galerien, Kulturzentren und Gemeinschaftsgärten entstehen.<br>
												<br>
												* Kai Ruttmann, Architekt, Projektentwickler, Mitarbeit in diversen Büros von Witten bis Gelsenkirchen, Ingenieurgeologie bis Bildproduktion. Teil von <a href="http://www.botopia.org<" target="_blank">botopia.org</a>, der lokalen Plattform zur Verknüpfung von gesellschaftlichen Initiativen für eine kollaborative Stadtgesellschaft und einer der Realisierer von labcity.<br>
												<br>
												* Philipp Unger, Tutor im Projekt <a href="http://www.quernetz.de/bochumer-karte<" target="_blank">www.quernetz.de/bochumer-karte</a>, das zum Ziel hat, ein Geo Informations System auf Basis von Open Street Map, historischen Luftbildern und Karten zur raumzeitlichen Anzeige von Orten, Institutionen und Veranstaltungen zu entwickeln. Ebenso wie auch Kai ist er aktiv bei <a href="http://www.botopia.org<" target="_blank">botopia.org</a>.<br>
											</p>

											<h2>
												FILMPROGRAMM
											</h2>
											<p>
												„Tomorrow Is Always Too Long“ (Phil Collins/GB 2014) 82 Min.<br>
												<br>
												„Tomorrow Is Always Too Long“ ist eine Liebeserklärung an Glasgow- Phil Collins, Turner-Prize-nominierter Video-Artist und Professor an der Kunsthochschule für Medien Köln verwebt in seinem Film Stimmen aus verschiedenen Communities und Institutionen, die den komplexen Charakter der Stadt definieren.<br>
												<br>
												<br>
												„Das Gegenteil von Grau“ (Matthias Coers/D 2017) 90 Min.<br>
												<br>
												Brachflächen, Leerstand, Anonymität, Stillstand – nicht alle zwischen Dortmund und Duisburg wollen sich damit abfinden. Im Gegenteil. Immer mehr Menschen entdecken Möglichkeiten und greifen in den städtischen Alltag ein. Ein Wohnzimmer mitten auf der Straße, Nachbarschaft, Gemeinschaftsgärten. Stadtteilläden, Repair Cafés und Mieter*inneninitiativen entstehen in den Nischen der Städte – unabhängig, selbstbestimmt und gemeinsam. Das Gegenteil von Grau zeigt unterschiedliche Gruppen, die praktische Utopien und Freiräume leben und für ein solidarisches und ökologisches Miteinander im urbanen Raum kämpfen. Ein Dokumentarfilm von Matthias Coers und Recht auf Stadt Ruhr.<br>
												<br>
												<br>
												„Raising Compassion“ (Tania Singer & Olafur Eliasson/D 2011) 38 Min.<br>
												<br>
												„Raising Compassion“ (nur in englischer Sprache), entstand im Zuge des multidisziplinären Workshops „How to train Compassion“ , organisiert von Tania Singer, Direktorin der Abteilung Soziale Neurowissenschaft am Max-Planck-Institut für Kognitions- und Neurowissenschaften, Leipzig. Der Workshop fand im Juli 2011 auf Einladung des Künstlers im Studio Olafur Eliasson in Berlin statt.<br>
												<br>
												<strong>
													Künstlerfilme<br>
												</strong>
												#Bildungsurlaub / Halle 2<br>
												<br>
												„La Feria de las Flores“ (Núria Güell/ES 43 Min.)<br>
												<br>
												„La Feria de las Flores“ – auf deutsch „Die Blumenmesse“ (Colombia, 2015-2016) – besteht aus einer Serie von Museumsführungen zu Fernando Boteros Werken, „the paisa artist par excellence“, durch die permanente Ausstellung des Museo de Antioquia in Medellin, der „Botero-Stadt“. Das Besondere ist, dass diese von Minderjährigen durchgeführt werden, die im Sextourismus in Medellin arbeiten und den Besucher*innen Boteros Arbeiten, in denen er den weiblichen Körper repräsentiert zeigen. Diese ungewöhnlichen Museumsführer*innen können auf ihre persönlichen Erfahrungen von sexueller Ausbeutung zurückgreifen und die Dehumanisierung des weiblichen Körpers aufzeigen, sei es in Katalogen, die über den Straßenverkauf Jungfräulichkeit anbieten, sei es über Tourist*innen, die vor allem aus den USA, Spanien, Israel, Deutschland und Mexiko kommend, das Mädchen oder den Jungen wählen, dessen Jungfräulichkeit sie kaufen möchten. Der Film lädt dazu in, eine kritische Bestandsaufnahme des dominierenden patriarchalen und sexistischen Blicks auf die Kunstgeschichte zu werfen. The project invites to do a critical review of the dominant patriarchal and sexist gaze in the Art History.<br>
												<br>
												<br>
												the vacuum cleaner. Channel 4 Random Acts. Short Films.<br>
												<br>
												Reverend Billy and The Church of Earthalujah with Liberate Tate - Random Acts<br>
												Space Hijackers - NHS for Sale - Random Acts.<br>
												Dr.D - H.M.P London<br>
												The Haircut Before The Party - General Strike - Random Acts<br>
												Santacon - C4 Random Acts<br>
												Metropolitan Lice<br>
												Capitalism Full Stop<br>
												A Load of Rubbish<br>
												Just Do It – A tale of modern-day outlaws (the vacuum cleaner & Emily James/ GB 2011)<br>
												the vacuum cleaner<br>
												<br>
											</p>

											<h2>
												DANK
											</h2>
											<p>
												Dank an die COOP 3000 Concernmitarbeiter*innen vom Füllhorn über SUPERTHEORIEPARTY 1, 2, 3, und 4 bis zur HAUPTVERSAMMLUNG!<br>
												<br>
												Gewa Abdulhanan, Alime Aras, Bewohner*innen des Flüchtlingshauses Humboldtstraße, Bewohner*innen des St. Marienstift Bochum, Bewohner*innen aus der Siedlung Franz-Schubert-Straße, Tekla Bichler, Fabio Borowski, Driss Bourakkadi, Daniel Brandl (Payback-Pele & Die Notenbankers), Patrick Brehmer, Marion Bress, Vesna Buljevic, Cevahir Cay, Nasrin Darushe, DJ MARTINI, Vivian Edos, Phidelis Edos, Rainer Einenkel, Ricarda Erdmann, Bilal Eroglu, Astrid Etzrodt, Valentin Futu (Seelsorger & Priester „The Lord‘s Citadel“), Irene Gallerani, Faris Garbi, Pele Götzer (Payback-Pele & Die Notenbankers), Anna Hauke, Peter und Cornelia Hühner vom Tanzstudio Gödde mit ihren langjährigen Clubtänzer*innen, Ela Kagel (vom „Supermarkt Berlin“), Gisela Kern, Erika Kortmann Gisela Krenz, Georgios Lavrentiadis, Claudia Leiding, Maria Gomez Mojeda, Virginia Gomez Mojeda, Anna Hauke, Börries Hornemann, Peter Hühner, Kai Jütting, Gisela Krenz, Annette Kritzler, Dennis Kröger (vom Bochumer Hackerspace „Das Labor“), Jeyakumaran Kumar Kumarasamy, Toula Laftsidou, Marianne Lemke, Christel Lenze, Gisela Loose, Julian Mertens (von der GLS Bank), Berti Milewski, Nurcan Miyanyedi, Praveena Nadarajah, Stefanie Neuerburg, Stefanie Nölkenbockhoff, Ingeburg Oana, Eunice Obasuyi, Patience Osemwengi, Sefa Özkan, Dieter Pätzold, Sven Petri (Payback-Pele & Die Notenbankers), Oliver Pilsner, Ozleyis Poyraz, Brigitte Raischitsch, Doris Richter, Milena Röhr und Sabine Timmer vom Bochumer St. Marienstift, Julia Rüding, Sandra, Sabastiao Sala, Kalpakidis Savas, Rojda Savas, Elfriede Schlenstedt, Irene Schulz, Jesikkha Sivakumar, SPIELMANNSZUG Glück-Auf 1867 Dortmund, Gregor Spychala, Theo Steegmann Stahlarbeiter, Politaktivist, Gewerkschafter und Unternehmer, Tobias Stein, Eleftherios Tellidis, Hendrik Thalmann, Peter und Renate Thill, Jann Tholen (Payback-Pele & Die Notenbankers), Antje Tönnies (von der GLS Bank), Metin Turan, Emine Turhan, Yasemin Ucar, Petra Valentin, Manfred Vollmer, Annbritt Wagner, Vanessa Wenzel, Hans-Otto Wolf, Ali Yasar.<br>
												<br>
												<br>
												Dank an: WIUS, Witten, die Alevitische Gemeinde in Duisburg, Borsigplatz 11, Bunmi Bolaji und dem Deutsch Afrika Ruhr Forum e.V. Bochum, Frau Celebi von Plan B Bochum, die Kochgruppe von Plan B, GEBAG Duisburg, Heimgärten Duisburg, Madonna e.V., ZAK Bochum, die Nutzer*innen der Rottstraße 5 und das ganze Team von Urbane Künste Ruhr. DANKE auch dem atélier automatique!<br>
												<br>
												Besonderer Dank an Manfred Duch!<br>
												<br>
												<br>
												matthaei & konsorten<br>
												TEAM 2016/17:<br>
												Amanda Bailey, Felix Bouché, Helene Ewert, Andrea Schulz und Christoph Engelhard von FÖRM, Josefine Habermehl, Liselotte Herms, Julia Hülsken, Lina Jung, Julia Knies, Florian Krauß, Jörg Lukas Matthaei, Marco Peise, Judith Nika Pfeifer, Anja Plonka, Carsten Pütz, Dorothea Ronneburg, Kai van Nuffel, Peter Wardemann und Dominik Zink.<br>
											</p>

											<img src="/public/files/images/schere_coopen.png" />
										</div>
									</div>							
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	    
	    <script src="/public/js/jquery.easing.min.js"></script>
	    <script src="/public/js/jquery.fullPage.min.js"></script>
	    <script src="/public/js/custom.js"></script>
	</body>
</html>
